body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    background-image: url("../img/wallpaper.jpg");
  
    /* Half height */
    height: 65%;
    
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .scroll-down button{
                position: fixed;
                right: 30px;
                padding: 10px;
                width: 44px;
                border-radius: 50%;
                z-index: 10;
                bottom: 80px;
                background: #0d47a1;
                color: white;
                border: 1px solid #0d47a1;
                box-shadow: 1.5px 1.5px black;
            }
            
            .scroll-up button{
                position: fixed;
                right: 30px;
                padding: 10px;
                width: 44px;
                border-radius: 40%;
                z-index: 10;
                bottom: 80px;
                background: #0d47a1;
                color: white;
                border: 1px solid #0d47a1;
                box-shadow: 1.5px 1.5px black;
            }